<p class="lead">Contact us</p>
<form>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Your email">
        <span id="numberOfChars">0</span>&nbsp;characters
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment" placeholder="Your comment"></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> I agree with privacy conditions
        </label>
    </div>
    <button type="button" class="btn btn-default">Submit my comment</button>
</form>